# SPDX-FileCopyrightText: 2020 Lukas Schrangl <lukas.schrangl@tuwien.ac.at>
#
# SPDX-License-Identifier: CC0-1.0

/dist
/test
__pycache__
*.pyc
.ipynb_checkpoints
*.egg-info
.spyproject
*.kdev4
.pytest_cache
.vscode
sdt-python.code-workspace
.idea
t-*.ipynb
